.color-container {
  width: 45%;
  padding: 1% 0;
  float: left;
  margin-right: 3%;
}
.palette {
  position: relative;
  border: 1px solid #ccc;
  padding: 2%;
  width: 100%;
  display: inline-block;
}
.color-title {
  text-transform: capitalize;
}
.starsrating {
  width: 100%;
  text-align: center;
}
.delete {
  position: absolute;
  top: 7px;
  right: 10px;
  font-weight: bolder;
  color: black;
  border-radius: 100%;
  padding: 0px 5px;
  font-size: 13px;
  cursor: pointer;
}
